@model PagingViewModel

@{
    var previewModel = new PreviewPartialViewModel();
    previewModel.Description = "This example shows how to use the PageSize tag helper with HTMX.";
}

<partial name="_PreviewPartial" hx-target="#list" model="previewModel"/>

<page-size hx-target="#list" hx-swap="innerHTML" model="Model"></page-size>
<div id="list">
<partial name="_ResultsList" model="Model"/>
</div>