@model PagingViewModel
@{
    var previewModel = new PreviewPartialViewModel();
    previewModel.Description = "This example demonstrates the Plain CSS view type with custom styling injected into the view. It uses plain JavaScript for interactivity without any framework dependencies.";
    previewModel.SourceLink="/Views/Home/PlainView.cshtml";
}

<partial name="_PreviewPartial" model="previewModel"/>

<div class="no-tailwind">
    @Html.PlainCSS()
    <paging model="Model"
            view-type="Plain"
            js-mode="@JavaScriptMode.PlainJS"
            class="my-4">
    </paging>
</div>

<partial name="_ResultsList" model="Model"/>

@Html.PageSizeOnchangeSnippet()