
@model PagingViewModel
@{
    var previewModel = new PreviewPartialViewModel();
    previewModel.Description = "This example shows the basic usage of the PagingTagHelper with a model. It also disables the HTMX functionality and uses the Javascript snippet to handle the paging.";
    previewModel.SourceLink="/Views/Home/PlainView.cshtml";
}
<div class="no-tailwind">
    @Html.PlainCSS()
    <paging model="Model"
            use-htmx="false"
            class="my-4">
    </paging>
</div>
<partial name="_PreviewPartial" model="previewModel"/>

    <partial name="_ResultsList" model="Model"/>

@Html.PageSizeOnchangeSnippet()