<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - mostlylucid.pagingtaghelper.sample</title>
    <link rel="stylesheet" href="~/css/dist/main.css" asp-append-version="true"/>
</head>
<body class="bg-base-200 text-base-content">

<div class="flex flex-col min-h-screen justify-center items-center px-4">
    <main role="main" class="w-full max-w-4xl p-6 bg-base-100 shadow-lg rounded-lg">
        @RenderBody()
    </main>
</div>

<!-- Dummy Hidden Span to Preserve Tailwind Classes -->
<span class="hidden btn btn-sm btn-active btn-disabled select select-primary select-sm 
        text-sm text-gray-600 text-neutral-500 border rounded flex items-center 
        justify-center min-w-[80px] pr-4 mr-8 ml-8 pt-0 mt-0">
</span>

<script src="https://unpkg.com/htmx.org@2.0.4" 
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
        crossorigin="anonymous"></script>
<script src="~/js/dist/main.js" asp-append-version="true"></script>
<script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script type="text/javascript" defer src="https://unpkg.com/highlightjs-cshtml-razor/dist/cshtml-razor.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)
<div id="loading-modal" class="modal htmx-indicator">
    <div class="modal-box flex flex-col items-center justify-center">
        <h2 class="text-lg font-semibold">Loading...</h2>
    </div>
</div>
</body>
<script>
    function showPreview() {
        let container = document.getElementById("preview-container");
        let codeBlock = document.getElementById("code-content");

        if (container && codeBlock) {
            container.classList.remove("hidden"); // Show preview div
            hljs.highlightElement(codeBlock); // Highlight the loaded code
        }
    }
</script>
</html>