<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - mostlylucid.pagingtaghelper.sample</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/dist/main.css" asp-append-version="true"/>
    <link rel="icon" type="image/png" href="/img/smalllogo.svg" />
</head>
<body class="bg-base-200 text-base-content">
<header class="w-full bg-base-100 shadow-md py-2 px-6 flex justify-between items-center">
    <!-- Logo -->
    <a asp-controller="Home" asp-action="Index" class="flex items-center gap-2 text-lg font-bold">
        <img src="/img/logo.svg" alt="Logo" width="224px" height="112px" >
    </a>

    <!-- Navigation Links -->
    <nav class="flex gap-4">
    </nav>
</header>
<div class="flex flex-col min-h-screen justify-start items-center">
    <main role="main" class="w-full max-w-4xl  px-4 bg-base-100 shadow-lg rounded-lg">
        @RenderBody()
    </main>
</div>

<!-- Dummy Hidden Span to Preserve Tailwind Classes -->
<span class="hidden btn btn-sm btn-active  btn-disabled select select-primary select-sm 
        text-sm text-gray-600 text-neutral-500 border rounded flex items-center 
        justify-center min-w-[80px] pr-4 mr-8 ml-8 pt-0 mt-0 mr-2">
</span>

<script src="https://unpkg.com/htmx.org@2.0.4" 
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" 
        crossorigin="anonymous"></script>
<script src="~/js/dist/main.js" asp-append-version="true"></script>
<script type="text/javascript" defer src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
<script type="text/javascript" defer src="https://unpkg.com/highlightjs-cshtml-razor/dist/cshtml-razor.min.js"></script>

@await RenderSectionAsync("Scripts", required: false)


<div id="loading-modal" class="modal htmx-indicator">
    <div class="modal-box flex flex-col items-center justify-center">
        <h2 class="text-lg font-semibold">Loading...</h2>
    </div>
</div>
<script defer src="https://umami.mostlylucid.net/getinfo" data-website-id="7c569b68-6c21-45ce-8413-bfdfff76ff9d"></script>
</body>
</html>