@model PreviewPartialViewModel
<div class="w-full mx-auto my-4 p-6 border  rounded-md hover:outline-double transition flex items-center bg-white dark:border-gray-600 border-gray-200 dark:bg-gray-600 text-base-100 dark:text-white shadow-lg rounded-lg">
    <a asp-action="Index" asp-controller="Home"
       class="inline-flex items-center gap-2 px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700 transition">
        <i class="bx bx-home text-lg"></i>
        <span>Home</span>
    </a>
    <p class="ml-4">@Model.Description</p>
</div>