@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

.no-tailwind :where(*) {
    all: initial;
    font-family: inherit;
}
.no-tailwind style {
    display: none !important;
}